---
---

@import "{{ site.theme }}";
#forkme_banner {
    display: none !important;
}
.btn {
    display: none !important;
}
li > span {
    font-weight: bold;
    color: #2D2D2D;
    padding-right: 0.75em}
